$font-style: 'Roboto', sans-serif;
$second-style: 'Raleway', sans-serif;
$second-font-weight: 700;
$font-weight: 400;
$main-color: #757575;
$second-color: #212121;
$color-blue: #2196f3;
$color-white: #ffffff;
$transition-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
$shadow-item: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
